.container {
    width: 573px !important;
    outline: solid;
    outline-color: lightgrey;
    outline-style: auto;
    outline-width: thin;
    padding: 0px !important;
    padding-bottom: 30px !important;
    min-height: 436px;
    margin: 30px !important;
    margin-top: 0px !important;
}

.input-group {
    width: 75% !important;
    left: 12% !important;
}

.to-do {
    min-height: 100px;
    margin: 30px;
}

.project-form-div {
    margin: 10px;
}
